* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start; /* Alinha o menu à esquerda */
    align-items: center; /* Alinha os itens verticalmente no centro */
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

.nav-menu li:first-child {
    margin-left: 0;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #1A1A2E, #16213E, #0F3460, #53354A); /* Gradiente com tons masculinos e modernos */
    background-size: cover;
    color: #fff;
}



.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
}

.skills {
    padding: 60px 20px;
    text-align: center;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    width: 120px;
    margin: 10px;
}

.skill img {
    width: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Estilos para responsividade em dispositivos móveis */
@media (max-width: 600px) {
    .navbar {
        justify-content: center; /* Alinha o menu ao centro em dispositivos móveis */
    }

    .nav-menu {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 18px;
    }

    .project-card {
        margin: 10px 0;
    }
}
